body {
  font-family: "Heebo", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.menu {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
}

.menu nav {
  gap: 62px;
  display: flex;
}

.menu a {
  text-decoration: none;
}

.menu button {
  background-color: pink;
  padding: 18px;
  border-radius: 23px;
  border: 1px pink;
}

.apresentation {
  background-image: linear-gradient(to right, #f7d8dd 60%, #ef8999b5 60%);
}
.apresentation img {
  width: 25%;
  border-radius: 100%;
  margin-top: 4%;
}
.caixa {
  background-color: white;
  width: 43%;
  margin-top: 10%;
  margin-bottom: 14%;
  box-shadow: 9px 10px 12px 2px #0000003d;
  padding: 12px;
  font-size: 20px;
}

.ap-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.caracteristics img {
  width: 10%;
}

.projects {
  background-color: #f3b3bd;
}
